@import url('https://fonts.googleapis.com/css2?family=Alice&family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=DM+Serif+Display:ital@0;1&family=Lexend+Deca:wght@100..900&family=Lilita+One&family=Madimi+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Riot&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Silkscreen:wght@400;700&family=Unica+One&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --color-base: #fff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}

body {
    position: relative;
    font-family: 'Lexend Deca', sans-serif;
    line-height: 1.6px;
    background-color: #fff;
}

a, img {
    text-decoration: none;
    display: block;
}

ul {
    list-style: none;
}

header {
    background-color: #ff6600;
    height: 100px;
    width: 100%;
}

.container-header {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 75px;
    padding-left: 75px;
}

.container-header a h2 {
    font-size: 50px;
    color: var(--color-base);
    font-weight: 600;
}

.container-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.box-navlinks, .box-redes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box-navlinks {
    gap: 40px;
}

.box-navlinks li a {
    font-size: 16px;
    font-weight: 600;
    color: var(--color-base);
    text-transform: uppercase;
    transition: .2s;
    position: relative;
    display: block;
}

.contact{
    padding: 20px 20px;
    background-color: #000000;
    border-radius: 50px;
}

.box-redes {
    gap: 20px;
}

.box-redes li a i {
    font-size: 20px;
    color: var(--color-base);
}
